---
// 根页面重定向到默认语言
export const prerender = true;
---

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=/en/">
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/en/">English version</a>...</p>
</body>
</html> 