---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import FullScreenBanner from '../components/FullScreenBanner.astro';
import HeroShowcase from '../components/HeroShowcase.astro';
import ProductShowcase from '../components/ProductShowcase.astro';
import CustomerNeeds from '../components/CustomerNeeds.astro';
import CustomerCases from '../components/CustomerCases.astro';
import NewsCenter from '../components/NewsCenter.astro';
import HotRecommendedProducts from '../components/HotRecommendedProducts.astro';
import StatsSection from '../components/StatsSection.astro';
---

<Layout title="专业滑移装载机制造商">
	<main>
		<FullScreenBanner />
		<HeroShowcase />
		<ProductShowcase />
		<StatsSection />
		<HotRecommendedProducts />
		<CustomerNeeds />
		<CustomerCases />
		<NewsCenter />

	</main>
</Layout>
