---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import FullScreenBanner from '../components/FullScreenBanner.astro';
import HeroShowcase from '../components/HeroShowcase.astro';
import ProductShowcase from '../components/ProductShowcase.astro';
import StatsSection from '../components/StatsSection.astro';
---

<Layout title="专业滑移装载机制造商">
	<main>
		<FullScreenBanner />
		<HeroShowcase />
		<ProductShowcase />
		<StatsSection />
	</main>
</Layout>
