---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import HeroShowcase from '../components/HeroShowcase.astro';
import ProductShowcase from '../components/ProductShowcase.astro';
import CompanyIntro from '../components/CompanyIntro.astro';
import Advantages from '../components/Advantages.astro';
import HotProducts from '../components/HotProducts.astro';
import CustomerNeeds from '../components/CustomerNeeds.astro';
import CustomerCases from '../components/CustomerCases.astro';
import NewsCenter from '../components/NewsCenter.astro';
---

<Layout title="专业滑移装载机制造商">
	<main>
		<HeroShowcase />
			<ProductShowcase />
			<CompanyIntro />
			<Advantages />
			<HotProducts />
			<CustomerNeeds />
			<CustomerCases />
			<NewsCenter />
	</main>
</Layout>
